
/*.cell{border:1px solid blue;}*/
.title-bar{background: white}

/*special menue*/
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}
/*special menue*/

img.align-left{
  margin: 1em;
}

.star{
  margin-left: 15px;
}

p.help{
  text-align: right;
}

.yelp{
  margin: 2.5em;
  text-align: center;
}

#mission{
  font-size: 32px;
  color: white;
  background-color: #0095f3;
  text-align: center;
  margin: 2em;
}

#blue{
  background-color: #0095f3;
}

#subtitle{
  font-size: 35px;
  color:black;
}

#zach{
  text-align: center;
  margin: 1em;
}

#statement{
  text-align: center;
  font-size: 28px;
}

#number{
  text-align: center;
  background-color: #e58412;
  color: white;
  font-size: 30px;
}



#estimate{
  text-align: right;
  color: white;
  background-color: red;
  font-size: 35px;
}

#about{
  font-size: 28px;
  text-align: center;
  margin: 2em;
}

#what{
  text-align: center;
  font-size: 30px;
  margin: 2em;
  color: white;
  background-color: #e58412;
}

#orange{
  background-color: #e58412;
}

i.fa-plus{
  display: block;
  font-size: 25px;
  /*text-align: center;*/
  color: white;
  margin: 1.2em;

}

i.fa-arrow-down{
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.blue{
  background-color: #0095f3;

}


section.img{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}


#footer{
  padding: 35px;
  background-color: rgb(44, 73, 127);
  color:white;
  text-align: center;
}

#section{
  text-align: center;
}

#tech{
  font-size: 25px;
}

#size{
  font-size: 19px;
}


a{
  color: inherit;
  text-align: center;
}

li>img{
  border-radius: 25px;
}

figure{
  margin-top: 2em;
}


ul>li{
  /*word-spacing: 100px;*/
}

img.align-left{
  float: left;
}

#social{
  text-align: center;
  display: inline;
  color: white;
  background-color: #0095f3;
}

li{
  display: inline;
  word-spacing: 10px;
  text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
}


h1{
  text-align: center;
  color: #e58412;

}
h2{
  text-align: center;
}
h4{
  text-align: center;
  font-size: 45px;
  color:#e58412;

}

h5{
  margin-left: 15px;
}
